.header {
    width: 100%;
    height: 80px;
    line-height: 80px;
}

.nav__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: center;
    column-gap: 112px;
    list-style: none;
    margin-top: 25px;
}

.menu__link {
    font-weight: 600;
    font-size: var(--medium);
    color: var(--secondary-color);
    text-transform: uppercase;
}

.menu__link:hover {
    color: var(--primary-color);
}

.header__shrink {
    width: 100%;
    height: 137px;
    line-height: 80px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    background: var(--third-color);
}

hr {
    color: var(--secondary-color);
    margin-bottom: 50px;
    opacity: 1;
}

.mobile__menu {
    color: var(--primary-color);
    font-size: var(--largeplus);
    cursor: pointer;
    display: none;
}

/* Responsive */

@media only screen and (max-width: var(--desktop)) {
    .navigation {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}