.container {
    height: 100px;
    background-color: white;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 100px;
    font-size: 18px;
    justify-content: space-between;
    position: relative;
}

.listItem {
    display: inline;
    margin-right: 30px;
    font-size: 14px;
    color: #0762cb;
    cursor: pointer;
}

.listItem:hover {
    color: #D0D0CE;
}

.hamburger {
    display: none;
}

.menu {
    display: none;
}

@media screen and (max-width: 480px) {
    .list {
        display: none;
    }

    .container {
        padding: 0 20px;
    }

    .hamburger {
        width: 25px;
        height: 20px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .line {
        width: 100%;
        height: 3px;
        background-color: black;
    }

    .menu {
        position: fixed;
        height: calc(100vh - 50px);
        width: 50vw;
        background-color: white;
        top: 90px;
        margin: 0;
        padding: 0;
        color: gray;
        font-weight: bold;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        z-index: 999;
        transition: all 1s ease;
    }
}